@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.testimonial {
	@include section-bg('page6.png');

	&__content {
		height: 100vh;
		max-width: 1113px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__title {
		font-size: fonts('display');
		font-family: $font-heading;
		color: $color-neutral;
		text-align: center;
	}

	&__info {
		display: flex;
	}

	&__media {
		flex: 1;
		height: 100%;
	}

	&__item {
		flex: 2;
		background-color: $color-footer-bg;
		padding: space('xs');
		height: 100%;
	}

	&__info-title {
		font-size: fonts('lead');
		text-transform: capitalize;
	}

	&__description {
		font-size: fonts('body');
		line-height: 1.6;
	}

	&__accent {
		font-size: fonts('display');
		color: $color-main;
	}
}
