@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.hero {
	@include section-bg('page1.png');

	& {
		position: relative;
	}

	&__content {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		max-width: $container-desktop;
		height: calc(100vh - 83px);
		margin: 0 auto;
	}

	&__title {
		font-size: fonts('display-lg');
		text-transform: uppercase;
		margin-bottom: 0;
	}

	&__tagline {
		margin-bottom: space('sm');
		font-size: fonts('subtitle');
		text-transform: capitalize;
		letter-spacing: 6.86px;
	}

	.search {
		height: 63px;
		width: 60%;
		display: flex;
		background-color: $color-neutral;
		border: solid 1px $color-neutral;
		margin-bottom: clamp(2rem, 3.5vw, 3.125rem);

		&__input {
			height: 100%;
			flex: 1;
			border: none;
			padding: space('xs');
		}

		&__input::placeholder {
			font-family: $font-main;
			font-size: fonts('caption');
			text-align: center;
			text-transform: capitalize;
			letter-spacing: 2.8px;
			left: 26px;
		}

		&__input:focus {
			color: $color-footer-bg;
			border: none;
			font-size: fonts('lead');
			outline: none;
		}

		&__btn {
			@include button;
			min-width: 153px;
			text-transform: uppercase;
			font-size: fonts('caption');
			letter-spacing: 1.4px;
			font-family: $font-heading;

			.btn__icon {
				width: 30px;
				height: 30px;
			}
		}
	}

	&__scroll {
		padding-top: space('md');
		background-color: transparent;
		border: none;
		text-transform: capitalize;
		color: $color-neutral;
		font-size: fonts('caption');
		letter-spacing: 2.8px;
	}

	&__scroll-link {
		display: flex;
		flex-direction: column;
	}
}

.nav {
	background-color: $color-main;
	height: 83px;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: $container-desktop;
		margin: 0 auto;
	}

	&__logo {
		font-family: inherit;
		text-transform: uppercase;
		font-size: fonts('title');
		line-height: 26px;
		font-weight: bold;
		letter-spacing: 2.4px;
	}

	&__menu {
		display: flex;
		width: 523px;
		justify-content: space-between;
		font-family: $font-heading;
		font-size: fonts('caption');
	}

	&__link {
		color: $color-neutral;
		text-decoration: none;
		transition: color 0.3s ease, border-bottom 0.3s ease;
		padding-bottom: 2px;
		border-bottom: 2px solid transparent;

		&:hover {
			color: $color-text-main;
			border-bottom: 2px solid $color-text-main;
		}

		&:active,
		&:focus {
			color: $color-neutral;
			border-bottom: 2px solid $color-neutral;
		}
	}

	&__toggle {
		display: none;
	}
}
